@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-comfortaa text-white
  }
  ::selection {
    @apply bg-appGolden/50
  }
  body {
    @apply bg-gradient-to-60 from-appGolden via-appPurple via-25% to-appGreen to-95%
  }
  input {
    @apply
    px-6 py-4 my-2.5
    text-xs text-white/70 focus:text-white/90
    bg-white/10 hover:bg-white/20 focus:bg-white/20 focus:outline-none focus:border-white/90
    border border-white/50 rounded-20
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    @apply
    appearance-none w-4 h-4
    border border-black/50 rounded-full
    bg-[#b4c5de]
    cursor-pointer
  }
}
